[submodule "core-java/JavaChat"]
	path = core-java/JavaChat
	url = https://github.com/meg0man/JavaChat.git
[submodule "core-java/Assignment1"]
	path = core-java/Assignment1
	url = https://github.com/meg0man/Assignment1.git
[submodule "java-project"]
	path = java-project
	url = https://github.com/meg0man/java-project.git
